<div class="container main mt-3">
    <h2>About Me</h2>
    <div class="row about mt-3">
        <div class="col-sm-3">
            <img src="../../../assets/userpic.png" class="img-fluid about-pic">
        </div>
        <div class="col p-3 about-text">
            <p>I'm a Full-Stack Developer for Coforge in Delhi, India. 
               I'm ambitious and excited to work on new projects and other challenging opportunities.
            </p>

            <p>I love to code, creating engaging and responsive UI, bringing products to life.</p>

        </div>
    </div>

    <div class=" row mt-3">
        <div class="col-sm"> <h3>Education<img src="../../../assets/graduation-hat.png" class="img-fluid hat-pic"></h3>                                      
        </div>

        <div class="col about p-3 mt-1 edu-border">
            <h6 class="d-inline float-start">Bachelor of Technology</h6><p class="d-inline float-end">2017-2021</p>
                            <p class="d-inline float-start">(Computer Science & Engineering)</p> 
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-sm"> <h3>Skills<img src="../../../assets/skill.png" class="img-fluid sk-pic"></h3>                                      
        </div>
        
        <div class="col skills">
            
            
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-3"> 
            <div class="sk">
                <div class="afterhover text-center p-3">
                    <p>ANGULAR</p>
                    <p>HTML</p>
                    <span>CSS</span>
                </div>
                <img src="../../../assets/web-design.png" class=" skills-pic">
                <p class="skills-text mt-sm-3">Frontend</p>
            </div>
        </div>
        <div class="col-3">
            <div class="sk">
                <div class="afterhover text-center p-3">
                    <p>JAVA</p>
                    <p>JS</p>
                    <span>PYTHON</span>
                </div>
                <img src="../../../assets/web-settings.png" class="bg-dark skills-pic">
                <p class="skills-text mt-sm-3">Backend</p>
            </div>
        </div>
        <div class="col-3">
            <div class="sk">
                <div class="afterhover text-center p-3">
                    <p>MYSQL</p><br>
                    <p>SQLLITE</p>
                </div>
                <img src="../../../assets/storage.png" class=" skills-pic">
                <p class="skills-text mt-sm-3">Database</p>
            </div>
        </div>
        <div class="col-3">
            <div class="sk">
                <div class="afterhover text-center py-3">
                    <p>MICROSERVICE</p>
                    <p>REST/HTTPS</p>
                    <span>UI DESIGN</span>
                </div>
                <img src="../../../assets/ux.png" class=" skills-pic">
                <p class="skills-text mt-sm-3">Web</p>
            </div>
        </div>

    </div>

</div>