
.myproj{
	animation: start-ani .5s;
}

@keyframes start-ani {
	0%{
		transform: scale(0.2);
	}
	100%{
		transform: scale(1);
	}
}

h1,h6{
    /* color: rgb(252, 158, 252); */
    color: hotpink;
    font-family: 'Dosis','sans-serif';
    text-transform: uppercase;
}

h6{
    font-family:'Rubik',monospace;
    font-weight: 600;
}

.back-btn{
    width: 7%;
    padding-top: 7px;
    transition: .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    cursor: pointer;
}
.back-btn:hover{
    width: 8%;
}

i {
	position: relative;
	display: block;
	margin: 0 auto;
	width: 90%;
	height: 450px;
	overflow: hidden;
	border-radius: 5px;
}

i:before, i:after {
	content: 'тек';
	position: absolute;
	top: 50%;
	left: 1rem;
	z-index: 2;
	width: 2rem;
	height: 2rem;
	background: dodgerblue;
	color: white;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;
}

i:after {
	content: 'тен';
	left: auto;
	right: 1rem;
}

/* I haven't found a way for IE and Edge to let me style inputs that way */
input {
	appearance: none;
	-ms-appearance: none;
	-webkit-appearance: none;
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 5px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	transform: translateX(100%);
	transition: transform ease-in-out 400ms;
	z-index: 1;
}

input:focus {
	outline: none;
}

input:after {
	content: attr(title);
	position: absolute;
	top: 1rem;
	right: 1rem;
	background-color: rgba(0,0,0,0.4);
	color: white;
	padding: .5rem;
	font-size: 1rem;
	border-radius: 5px;
}

input:not(checked):before {
	content: '';
	position: absolute;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	top: 50%;
	left: calc(-100% + 1rem);
}

input:checked:before {
	display: none;
	left: 1rem;
}

input:checked {
	transform: translateX(0);
	/* pointer-event: none; */
	z-index: 0;
	box-shadow: -5px 10px 20px -15px rgba(0,0,0,1);
}

input:checked + input:before {
	left: -3rem;
}

input:checked + input ~ input:before {
	display: none;
}


.cards{
    background-color: black;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 0;
    margin:0 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.but{
    /* background-color: #FBDA61; */
    background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
    width: 70%;
    font-weight: 400;
    transition: transform .2s; /* Animation */
    margin-top: 20px;
    outline: none;
}

.but:hover{
    background-image: linear-gradient(45deg, #FF5ACD 0% , #FBDA61 100%);
    color: black;
    transform: scale(1.1);
}

li {
	
    margin-left: -30px;
	padding: 4px 0 4px 22px;
	list-style: none;
	background-image: url('../../../../assets/more.png');
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 18px;
    font-size: .85rem;
    font-family: 'Lexend Exa', sans-serif;
    font-weight: 300;
    color: rgb(230, 225, 225);
}

.ani-video{
	margin-top: 60px;
    width: 22%;
	animation: ring 2s linear infinite;
}

@keyframes ring {

	0%, 7% {
		transform: rotateZ(0);
	  }
	  15% {
		transform: rotateZ(-15deg);
	  }
	  20% {
		transform: rotateZ(10deg);
	  }
	  25% {
		transform: rotateZ(-10deg);
	  }
	  30% {
		transform: rotateZ(6deg);
	  }
	  35% {
		transform: rotateZ(-4deg);
	  }
	  40%, 100% {
		transform: rotateZ(0);
	  }
	/* 0%{
		transform: rotate(0deg);
	}
	30%{
		transform: rotate(-25deg);
	}
	60%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(25deg);
	} */
}


@media screen and (max-width: 570px) {
    .myproj{
        margin-bottom: 8%;
    }

    .cards{
        margin: 20px auto;
    }
	.last-card{
		margin-bottom: 40px;
	}
    .unprfct{
        margin: 20px auto;
    }
    .ani-video{
        margin-top: -100px;
        margin-left: 57%;
		width: 30%;
    }
    .but{
        width: 60%;
    }

	.modal-body{
		padding: 0;
	}

	.modal-header{
		padding: 0;
		padding-right: 10px;
	}

	.modal.fade .modal-dialog{
		margin: 50% 0;
	}
	
    i{
        margin: 0;
		width: 100%;
		height: 170px;
    }

	input:after {
		font-size: .4rem;
		top:0;
	}
    /* input{
        height: 70%;
        width: 100%;
    } */
}
    