
<main>
    <div class="circle c1"></div>
    <div class="circle c2"></div>
    <div class="circle c3"></div>
    <!-- <img src="../../../assets/cvr-3.jpg" class="bg-image"> -->
<div class="flex-column flex-shrink-0 p-3 text-white custom-nav">
    <span class="dot">
        <i class="bi bi-circle-fill dot-1"></i>
        <i class="bi bi-circle-fill dot-2 mx-2"></i>
        <i class="bi bi-circle-fill dot-3"></i>
     </span>
        <a href="#" class="align-items-center text-white mt-4 text-decoration-none">
            <img src="../../../assets/new.jpg" alt="" width="40" height="40" class="rounded-circle me-2">
            <strong><span class="inline-icon">Anubhav</span></strong>
            
          </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto mt-2">
      <li class="nav-item">
        <a routerLink="home" class="nav-link act text-white p-2" aria-current="page" autofocus>
            <i class='bx cust bx-home'></i>
           <span class="inline-icon">&nbsp; &nbsp;HOME</span>
        </a>
      </li>
      <li>
        <a routerLink="work" class="nav-link act text-white p-2">
          <i class="bx cust bx-shopping-bag"></i>
          <span class="inline-icon">&nbsp; &nbsp;Work</span>
        </a>
      </li>
      <li>
        <a routerLink="about" class="nav-link act text-white p-2">
          <i class="bx cust bx-user"></i>
          <span class="inline-icon">&nbsp; &nbsp;About</span>
        </a>
      </li>
      <!-- <li>
        <a  class="nav-link act text-white p-2">
          <i class="bx cust bx-user-pin"></i>
          <span class="inline-icon">&nbsp; Testimonials</span>
        </a>
      </li> -->
      <li>
        <a routerLink="contact" class="nav-link act text-white p-2">
          <i class="bx cust bx-phone-outgoing"></i>
          <span class="inline-icon">&nbsp; &nbsp;Contact</span>
        </a>
      </li>
    </ul>
    <hr>
    <!-- <div class="social-icons container">
        <div class="row ir">
            <div class="col icon-item1"><a href="#" class="icon-link1"><i class="bx soc-icon-insta bxl-instagram-alt"></i></a></div>
            <div class="col"><i class="bx soc-icon-w bxl-whatsapp"></i></div>
            <div class="col"><i class="bx soc-icon-l bxl-linkedin-square"></i></div>
        </div>
     
    </div> -->

    <!-- <section class="bg-dark"> -->
        <div class="social-icons container">
        <div class="row ir icon-list">
        <!-- <ul class="icon-list"> -->
          <div class="col icon-item ">
            <a href="https://instagram.com/anubhavsiingh" target="_blank" class="icon-link"><i class="bx soc-icon-insta bxl-instagram-alt"></i></a>
          </div>
          
          <div class="col icon-item ">
            <a href="https://wa.me/917530916355/?text=urlencodedtext" target="_blank" class="icon-link"><i class="bx soc-icon-w bxl-whatsapp"></i></a>
          </div>
          <div class="col icon-item">
            <a href="https://www.linkedin.com/in/anubhav-singh-ab29a4192" target="_blank" class="icon-link"><i class="bx soc-icon-l bxl-linkedin-square"></i></a>
          </div>    
        <!-- </ul> -->
    </div>
    </div>
      <!-- </section> -->

  </div>
</main>