<div class="container mob-head">
    <div class="grad-border">
    <img (click)="viewstory()" src="../../../assets/new.jpg" class="img-fluid pic">
    </div>
    <p class="p-2 ">anubhav singh</p>
    <div class="s-icon d-inline float-end">
       <img (click)="showIcons()" src="../../../assets/more.png" class="img-fluid">
    </div>

    <div class="s-icons" id="icon">
        <a href="https://instagram.com/anubhavsiingh" target="_blank" class="ic">
            <i class="bx cust1 bxl-instagram-alt"></i>
          </a>

          <a href="https://wa.me/917530916355/?text=urlencodedtext" target="_blank" class="ic">
            <i class="bx cust2 bxl-whatsapp"></i>
          </a>

          <a href="https://www.linkedin.com/in/anubhav-singh-ab29a4192" target="_blank" class="ic">
            <i class="bx cust3  bxl-linkedin-square"></i>
          </a>
    </div>


</div>