<div class="home">
    <div class="home-logo">
        <img src="../../../assets/india.png" class="img-fluid d-inline">&nbsp;<strong >IN</strong>
    </div>
    <div class="flex-container">
    <div class="home-text ">
        <p class="para" >Hey, <img src="../../../assets/waving-hand.png" class="hi img-fluid"> My name is </p>
        <h1 class="name">Anubhav Singh</h1>
        <!-- <p class="desig mt-3"><span></span></p> -->
        <div id=flip>
            <div><div>Freelancer</div></div>
            <div><div>UI/UX Designer</div></div>
            <div><div>Full-Stack Developer</div></div>
          </div>
          <p class=" desc">
            I love to create and design responsive websites with engaging UI, microservices , e-commerce application integrated with database using the latest software technologies and bring products to life.</p>
            <!-- for creating engaging UI, bringing products to life. -->
            <a href="https://wa.me/917530916355/?text=urlencodedtext" target="_blank" class="btn btn-lg but">Hire me</a>
    
        </div>
    <div class="home-image">
        <img src="../../../assets/cvr-1.png" class="img-fluid cover-image">
    </div>
      </div>

      <!-- Social Icons<section>
        <ul class="icon-list">
          <li class="icon-item">
            <a href="#" class="icon-link"><i class="fab fa-instagram"></i></a>
          </li>
          <li class="icon-item">
            <a href="#" class="icon-link"><i class="fab fa-facebook-f"></i></a>
          </li>
          <li class="icon-item">
            <a href="#" class="icon-link"><i class="fab fa-dribbble"></i></a>
          </li>
          <li class="icon-item">
            <a href="#" class="icon-link"><i class="fab fa-youtube"></i></a>
          </li>
          <li class="icon-item">
            <a href="#" class="icon-link"><i class="fab fa-linkedin-in"></i></a>
          </li>    
        </ul>
      </section> -->

</div>

<!-- Ambitious and excited to work on new projects and other challenging opportunities. -->