<div class="container main-work mt-4">
    <h2>My Work</h2>


    <div class="row mt-5 p-3">
        <div class="col-sm">
            <div class = work>
                <div class = "card c1">
                  <div class = image>
                    <img src="../../../assets/shopping.png" class="img-fluid">
                  </div>

                  <div (click)="mywork()" class="work-heading wh1">
                    <h4 class="text-center">E-commerce Application</h4>
                  </div>
                  
                  <div class = content>
                    <p>Unprfct is an online shopping portal for fashion and lifestyle products, providing a hassle free and enjoyable shopping experience to shoppers.</p>
                    <h6 class="tech"> Angular / Java</h6>
                  </div>
                </div>    
              </div>

        </div>

        <div class="col-sm mob">
            <div class = work>
                <div class = "card c2">
                  <div class = image>
                    <img src="../../../assets/coding.png" class="img-fluid">
                  </div>
                  <div (click)="mywork2()" class="work-heading wh2">
                    <h4 class="text-center">Sentiment <br>Analysis</h4>
                  </div>
                  
                  <div class = content>
                    <p>This is a Machine Learning Model which predicts whether a given review is positive or negative.</p>
                    <h6 class="tech"> Python </h6>
                  </div>
                  
                </div>    
              </div>
        </div>

        <div class="col-sm mob">

            <div class = work>
                <div class = "card c3">
                  <div class = image>
                    <img src="../../../assets/responsive.png" class="img-fluid">
                  </div>
                  <div (click)="mywork3()" class="work-heading wh3">
                    <h4 class="text-center">Personal <br> Portfolio</h4>
                  </div>
                  
                  <div class = content>
                    <p>A simple SPA Portfolio to display about me and my work.
                      <br><br>
                      This is a responsive design for all view ports.
                    </p>

                    <h6 class="tech">Angular</h6>
                  </div>
                 
                </div>    
              </div>
        </div>
    </div>

    <!-- <div class = work>
        <div class = card>
          <div class = image>
            <img src="../../../assets/shopping.png" class="img-fluid">
          </div>
          <div class = content>
            <h3>E-commerce App</h3>
            <p>DIn publishing and graphic design,Lorem ipsum is a placeholder text commonly used to demonstrate the visual relying on meaningful content.</p>
          </div>
        </div>    
      </div> -->

</div>