<div class="container-md mob-nav">
    <div class="nav">

        <a routerLink="home" (click)="home('home')" class="nav-link b p-2" id="home" aria-current="page">
            <i class='bx cust bx-home'></i>
        </a>

        <a routerLink="work" (click)="home('work')" id="work" class="nav-link b p-2">
            <i class="bx cust bx-shopping-bag"></i>
        </a>
        
          <a routerLink="about" (click)="home('about')" id="about" class="nav-link b p-2">
            <i class="bx cust bx-user"></i>
          </a>
        
          <!-- <a href="#" (click)="home('testi')" id="testi" class="nav-link b p-2">
            <i class="bx cust bx-user-pin"></i>
            
          </a> -->
        
          <a routerLink="contact" (click)="home('contact')" id="contact" class="nav-link b p-2">
            <i class="bx cust bx-phone-outgoing"></i>
            
          </a>
    </div>
</div>